

<!--{{grid}}-->


<!--
{
    "id":1,
    "resourceInventory":{
        "GRASS":{"id":3,"type":"GRASS","amount":0},
        "DIRT":{"id":5,"type":"DIRT","amount":0},
        "WATER":{"id":1,"type":"WATER","amount":0},
        "WOOD":{"id":2,"type":"WOOD","amount":0},
        "ROCK":{"id":4,"type":"ROCK","amount":0}
    },
    "units":[],
    "pipes":[]
}
-->
<div class="container">
    <div class="row">
        <!-- CELL GRID -->
        <div class="col-md-6">
            <div ng-repeat="row in grid.cells" >
                <cell ng-repeat="cell in row"
                      cell="cell"
                      col="{{$index}}"
                      row="{{$parent.$index}}"
                      />
            </div>
        </div>

<!--
    {"id":13,"col":null,"row":null,"type":"TRANSMUTER","resourceOutputType":{"displayName":"Dirt"},"resourceInputType":{"displayName":"Wood"},"purchased":true,"costAmount":0,"costResourceType":{"displayName":"Wood"},"canAfford":false,"isPlaced":false}
    {"id":12,"col":null,"row":null,"type":"STOCKPILE","resourceOutputType":null,"resourceInputType":null,"purchased":true,"costAmount":0,"costResourceType":{"displayName":"Wood"},"canAfford":false,"isPlaced":false}
-->
        <!-- PLACAEABLE UNITS -->
        <!--<div class="col-md-3" >-->

        <div class="col-md-3" style="border: 1px solid black;"
             data-drop="true"
             data-jqyoui-options
             jqyoui-droppable="{'onDrop': 'drop()'}"
             ng-model="droppedUnit">

            Placeable units

            <div ng-repeat="unit in grid.purchasedUnits | filter: {isPlaced: false}" >
                <div class="cell-wrapper inline-block">
                    <unit unit="unit" />
                </div>
            </div>
        </div>

        <!-- resources -->
        <div class="col-md-3">
            <div ng-repeat="(resourceType, resource) in grid.resourceInventory">
                {{resource.type.displayName}}: {{resource.amount}}
            </div>
        </div>
    </div>


    <!-- purchasable units -->
    <div class="row">
        <div ng-repeat="unit in grid.purchasableUnits" class="cell-wrapper inline-block">
            <unit unit="unit" />
        </div>
    </div>
</div>


<button clas="btn btn-secondary" ng-click="delete()">delete</button>

<!--&lt;!&ndash; drag &ndash;&gt;-->
<!--<div class="btn btn-primary"-->
     <!--data-drag="true"-->
     <!--data-jqyoui-options="{revert: 'invalid'}"-->
     <!--ng-model="list1"-->
     <!--jqyoui-draggable="{animate:true}"-->
     <!--ng-hide="!list1.title">-->
    <!--{{list1.title}}-->
<!--</div>-->

<!--{{list1}}-->


<!--&lt;!&ndash; drop &ndash;&gt;-->
<!--<div class="thumbnail"-->
     <!--data-drop="true"-->
     <!--data-jqyoui-options-->
     <!--ng-model="list2"-->
     <!--jqyoui-droppable-->
     <!--style='height:50px;'>-->
    <!--<div class="btn btn-success"-->
         <!--data-drag="false"-->
         <!--data-jqyoui-options-->
         <!--ng-model="list2"-->
         <!--jqyoui-draggable-->
         <!--ng-hide="!list2.title">-->
        <!--{{list2.title}}-->
    <!--</div>-->
<!--</div>-->

<!--{{list2}}-->