
/** hides angular templates until they have finished rendering. */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.width-large {
    width: 900px;
}
.width-medium {
    width: 700px;
}
.width-small {
    width: 500px;
}
.width-extra-small {
    width: 275px;
}

.column-left {
    text-align:left;
}
.column-right {
    text-align:right;
}
[class*='col-'] {
    padding:5px;
}

div#main {
    background-color: white;
}

.panel, .panel-group {
    margin-bottom: 0px !important;
}

.panel-heading a:after {
    font-family:'Glyphicons Halflings';
    content:"\e114";
    float: right;
    color: grey;
}
.panel-heading a.collapsed:after {
    content:"\e080";
}

.dl-horizontal dt {
    text-overflow: inherit;
    white-space: inherit;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

.margin-bottom-small {
    margin-bottom: 5px;
}

.text-bold {
    font-weight: bold;
}

.text-small {
    font-size: 8px;
}

.cell-wrapper, .unit-wrapper {
    width:64px;
    height:64px;
}

.cell-wrapper {
    display: inline-block;
    position: relative;

}

.unit-wrapper {
    position: absolute;
    top: 0px;
    left: 0px;
    /*border: 1px solid black;*/
}
