
<div class="inline-block cell-wrapper bordered" ng-click="isCellEmpty() && clickEmpty()">

    <div style="top: -1px; position: absolute; left: -1px;">
        <unit unit="cell.unit" ng-show="cell.unit" />

        <div class="unit-wrapper">
            <span ng-show="cell.pipe1">pipe1</span>
            <span ng-show="cell.pipe2">pipe2</span>
        </div>

        <!-- drop target for units -->
        <div class="unit-wrapper"
             data-drop="true"
             data-jqyoui-options="{'scope': 'units'}"
             jqyoui-droppable="{'onDrop': 'unitDrop()'}"
             ng-model="cell.unit"
             ng-show="isCellEmpty()">

            <!-- PIPES -->
            <div class="cell-wrapper inline-block" style="z-index: 20">
                <!--<span class="unit-wrapper">empty</span>-->

                <!-- left pipe connector -->
                <div class="unit-wrapper pipe-connector pipe-connector-left"
                     data-drag="true"
                     data-jqyoui-options="{revert: 'invalid', 'scope': 'pipes{{col}}{{row}}'}"
                     jqyoui-draggable

                     ng-model="lPipeDir"
                    >
                    <!--ng-model="getPipeAt('left')"-->

                    L
                </div>

                <!-- right pipe connector -->
                <div class="unit-wrapper pipe-connector pipe-connector-right"
                     data-drop="true"
                     data-jqyoui-options="{'scope': 'pipes{{col}}{{row}}'}"
                     jqyoui-droppable="{'onDrop': 'pipeDrop()'}"

                     ng-model="rPipeDir"
                     >
                    <!--ng-model="getPipeAt('right')"-->

                    R
                </div>

                <!-- top pipe connector -->
                <div class="unit-wrapper pipe-connector pipe-connector-top">
                    T
                </div>

                <!-- bottom pipe connector -->
                <div class="unit-wrapper pipe-connector pipe-connector-bottom">
                    B
                </div>
            </div>

        </div>
    </div>
</div>


<!--<div class="thumbnail"-->
     <!--data-drop="true"-->
     <!--data-jqyoui-options-->
     <!--ng-model="list2"-->
     <!--jqyoui-droppable-->
     <!--style='height:50px;'>-->

    <!--<div class="btn btn-success"-->
         <!--data-drag="false"-->
         <!--data-jqyoui-options-->
         <!--ng-model="list2"-->
         <!--jqyoui-draggable-->
         <!--ng-hide="!list2.title">-->

        <!--{{list2.title}}-->
    <!--</div>-->
<!--</div>-->
