
<div class="cell-wrapper" ng-click="isCellEmpty() && clickEmpty()">
    <!--row{{y}}-->
    <!--col{{x}}-->

    <!--<span ng-show="cell.unit">unit</span>-->
    <unit unit="cell.unit" ng-show="cell.unit" />
    <!--click="handleUnitClick"-->

    <div class="unit-wrapper">
        <span ng-show="cell.pipe1">pipe1</span>
        <span ng-show="cell.pipe2">pipe2</span>
    </div>

    <!-- drop target -->
    <div class="unit-wrapper"
         data-drop="true"
         data-jqyoui-options
         jqyoui-droppable="{'onDrop': 'drop()'}"
         ng-model="cell.unit"
         ng-show="isCellEmpty()">

        <span>empty</span>
    </div>
</div>


<!--<div class="thumbnail"-->
     <!--data-drop="true"-->
     <!--data-jqyoui-options-->
     <!--ng-model="list2"-->
     <!--jqyoui-droppable-->
     <!--style='height:50px;'>-->

    <!--<div class="btn btn-success"-->
         <!--data-drag="false"-->
         <!--data-jqyoui-options-->
         <!--ng-model="list2"-->
         <!--jqyoui-draggable-->
         <!--ng-hide="!list2.title">-->

        <!--{{list2.title}}-->
    <!--</div>-->
<!--</div>-->
