<!--
{
    "id":1,

    "col":null,
    "y":null,

    "type":"SOURCE",
    "resourceOutputType":{"displayName":"Wood"},
    "resourceInputType":null,

    "costAmount":10,
    "costResourceType":{"displayName":"Wood"},

    "purchased":false,
    "isPlaced":false
}
-->

<div class="cell-wrapper"
     ng-click="handleClick(unit)"
     data-drag="true"
     data-jqyoui-options="{revert: 'invalid'}"
     jqyoui-draggable="{animate:true}"
     ng-model="unit">

    <!-- image goes here instead -->
    {{unit.type}}: [{{unit.resourceInputType.displayName}}-->{{unit.resourceOutputType.displayName}}]

    <span ng-show="!unit.purchased">
        Cost: {{unit.costAmount}} {{unit.costResourceType.displayName}}
        afford:{{unit.canAfford}}
        <!--<button class="btn btn-primary" ng-show="unit.canAfford" ng-click="">purchase</button>-->
    </span>

    <div ng-show="unit.purchased && unit.isPlaced">
        <span ng-click="unplace()">X</span>
    </div>
</div>
<!-- delete button -->


<!--<div class="btn btn-primary"-->
     <!--data-drag="true"-->
     <!--data-jqyoui-options="{revert: 'invalid'}"-->
     <!--ng-model="list1"-->
     <!--jqyoui-draggable="{animate:true}"-->
     <!--ng-hide="!list1.title">-->
    <!--{{list1.title}}-->
<!--</div>-->