
<div class="unit-wrapper bordered" style="z-index:10;"
     ng-click="handleClick(unit)"
     data-drag="draggable()"
     data-jqyoui-options="{revert: 'invalid', 'scope': 'units'}"
     jqyoui-draggable="{animate:true}"
     ng-model="unit">

    <div style="position:relative; ">
        <div class="unit-wrapper">
            <!-- image goes here instead -->
            <!--{{unit.type}}-->
            <img src="/images/border.png" />
        </div>

        <!-- purchase cost -->
        <div class="unit-wrapper">
            <span ng-show="!unit.purchased">
                Cost: {{unit.costAmount}} {{unit.costResourceType.displayName}}
                afford:{{unit.canAfford}}
            </span>
        </div>

    </div>
</div>

<!--<div class="btn btn-primary"-->
     <!--data-drag="true"-->
     <!--data-jqyoui-options="{revert: 'invalid'}"-->
     <!--ng-model="list1"-->
     <!--jqyoui-draggable="{animate:true}"-->
     <!--ng-hide="!list1.title">-->
    <!--{{list1.title}}-->
<!--</div>-->